# python stuff
**__pycache__/
.ipynb_checkpoints/
.history
# gcp creds
**/*.auth/*
#terraform 
*.tfstate
*.tfstate.*
**.terraform
**.terraform.lock.*
**.tfvars


**logs/
**.env

airflow db
**/airflow_postgresql_data/*