# Dependencies specific to development environment
# but not required for the package itself
dbt-core 
dbt-bigquery
apache-airflow
apache-airflow-providers-google
apache-airflow-providers-docker
astronomer-cosmos